/* Background */
.box{
    background: linear-gradient(to top, red,green,blue);
    height: 300px;
    width: 400px;
}

.box2{
    background: linear-gradient(45deg, red,green,blue);
    height: 300px;
    width: 400px;
}

.img{
    background-image: url(https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    height: 300px;
}

.img2{
    background-image: url(https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000);

    background-size: cover;

    height: 300px;
    width: 500px;
}
.background{
    background-image: url(https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg);
    background-size: 100% 100%;
    height: 700px;
}
.character{
    background-image: url(https://www.shutterstock.com/image-photo/chihuahua-stands-lush-garden-surrounded-260nw-2671188197.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
}
